@font-face{
	font-family : myFont;
	src : url('Pacifico.ttf');
}
body{
    background-color: #5cdb95;
    color: #05386b;
    margin: 0px;
    padding: 0px;
}
s
nav{
    width: 100%;
}
nav a{
	display : inline-block;
	margin : auto;
	padding : 10px;
    font-size: 1rem;
	background-color: #5cdb95;
	color : #05386b;
	text-decoration : none;
}
#home_icon img{
    width: 3%;
}
#home_icon{
    font-family: myFont;
    font-size: 1.7em;
}
nav .active{
	background-color : #05386b;
    color: #5cdb95;
}

main{
    margin-top: 1%;
}

footer{
    clear: both;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #8ee4af;
}
footer>p{
    text-align: center;
}