@font-face{
	font-family : myFont;
	src : url('Pacifico.ttf');
}

h1{
    color: #edf5e1;
    font-size: 3em;
    text-align: center;
}
body{
    background-color: #5cdb95;
    color: #05386b;
    margin: 0%;
    padding: 0% 0% 100px;
    position: relative;
    min-height: 100vh;
}

nav{
    overflow: hidden;
    display: block;
    width: 100%;
}
nav>.home_nav{
    width: 50px;
    display: inline-block;
    margin: 0%;
    padding: 0%;
}
nav>div img{
    width: 100%;
}
nav a{
    vertical-align: middle;
	display : inline-block;
	margin : auto;
	padding : 10px;
    font-size: 1rem;
	background-color: #5cdb95;
	color : #05386b;
	text-decoration : none;
}
.nonicon{
    display: inline;
}
.right_nav{
    display: inline;
}

nav a:hover{
    background-color: #379683;
}
nav .active{
	background-color : #05386b;
    color: #8ee4af;
}

input[type=text],input[type=email],input[type=password],textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}

footer{
    width: 100%;
    background-color: #8ee4af;
    position: absolute;
    bottom: 0px;
    margin-bottom: 0px;
    
}
footer>address{
    text-align: center;
}
footer>p{
    text-align: center;
}