main{
    text-align: center;
}

form{
    width: 50%;
    margin: 0% auto;
}

/*#email{
    width: 20%;
    margin: 1%;
}
#password{
    width: 20%;
    margin: 1%;
}
input[type="submit"]{
    width: 20%;
}*/