main{
    text-align: center;
    overflow : hidden;
}
section{
	width : 49%;
	float : left;
}
aside{
	width : 49%;
	float : right;
}
form{
    width: 50%;
    margin: 0% auto;
}

footer{
	clear : both;
}
