main{
    text-align: center;
}

form{
    width: 50%;
    margin: 0% auto;
}

form>div{
    white-space: nowrap;
}
#fname{
    width: 49.7%;
    display: inline-block;
}
#lname{
    width: 49.7%;
    display: inline-block;
}
input[type=radio]{
    text-align: center;
}
